body {
    margin: 10px;
    height: calc(100vh - 18px);
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    width: auto;
    position: relative;
}

form {
    width: 100%;
    height: 100%;
}

#chatAll {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 10% 90%;
    height: 100%;
    width: 100%;
    border: 1px solid #00f7ff;
}

#backSelProfile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom: 1px solid #00f7ff;
}

#chatEditTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: 1px solid #00f7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chatEditTitle span {
    display: block;
    font-size: 40px;
    color: #00f7ff;
    margin-left: 2%;
}

#backBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    color: #ff00bf;
    margin-left: auto;
    margin-right: auto;
}

#backBtn a {
    color: inherit;
    text-decoration: none;
}

#chatEditMain {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

#chatRoomList {
    grid-column: 1 / 2;
    border-right: 1px solid #00f7ff;
    overflow: auto;
    overflow-x: hidden;
}

#chatRoomList::-webkit-scrollbar {
    width: 5px;
}

#chatRoomList::-webkit-scrollbar-thumb {
    background-color: #ff00bf;
}

#chatPhotoDiv {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chatNameDiv {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.chatRoom {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #00f7ff;
    cursor: pointer;
}

.chatRoomName {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatRoomSel {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatRoomName span {
    margin-left: 5%;
    display: block;
    font-size: 25px;
}

.chatRoomSel svg {
    width: 60%;
    height: 60%;
    color: #ff00bf;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#chatPhotoCircle {
    border: 3px solid #ff00bf;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#editFile {
    display: none;
}

#editLabel {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

#editImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#chatNameDiv span {
    font-size: 30px;
    color: #ff00bf;
}

#chatName {
    background-color: transparent;
    border: 2px solid #ff00bf;
    height: 30px;
    color: #00f7ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#chatNameText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

#chatName:-webkit-autofill,
#chatName:-webkit-autofill:hover,
#chatName:-webkit-autofill:focus,
#chatName:-webkit-autofill:active {
    -webkit-text-fill-color: #00f7ff;
    font-size: 20px;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: background-color 5000s ease-in-out 0s;
}

#chatEditCom {
    width: 90%;
    text-align: right;
}

#chatEditBtn {
    font-size: 60px;
    color: #00f7ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chatBtn {
    font-size: 35px;
    cursor: pointer;
    color: #00f7ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

#chatImgBtn {
    width: 90%;
    display: flex;
    justify-content: space-between;
}