#userFollow {
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: transparent;
    color: #ff00bf;
    font-size: 30px;
    margin-top: 7%;
    width: 210px;
}

#userFollowBtn button {
    position: absolute;
    right: 75px;
    top: 7.5px;
    width: 150px;
    height: 50px;
    text-align: center;
    border: 1px solid #00f7ff;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    z-index: 10;
}
#userFollowBtn button[value="0"] {
	color: black;
	background-color: #00f7ff;
}
#userFollowBtn button:hover {
	cursor: pointer;
}}