<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IF_ManagerDao">

	<select id="selectAllMembers" parameterType="_int" resultType="vo.MemberVO">
		select * from member order by id limit #{pageNo}, 20
	</select>
	
	<select id="selectAllProfiles" parameterType="_int" resultType="vo.ProfileVO">
		select * from profile order by id limit #{pageNo}, 20
	</select>
	
	<select id="selectAllPosts" parameterType="_int" resultType="vo.PostVO">
		select * from post order by no desc limit #{pageNo}, 20
	</select>
	
	<select id="selectAllComms" parameterType="_int" resultType="vo.CommVO">
		select * from comm order by c_no desc limit #{pageNo}, 20
	</select>
	
	<select id="selectAllAdmins" parameterType="_int" resultType="vo.MemberVO">
		select * from member where admin is not null order by id limit #{pageNo}, 20
	</select>
	
	<select id="selectAllBanned" parameterType="_int" resultType="vo.BanVO">
		select * from ban order by s_date desc limit #{pageNo}, 20
	</select>
	
	<select id="selectMembersWhere" parameterType="vo.PageVO" resultType="vo.MemberVO">
		select * from member where 
		<if test="searchLoc == 'admin'">
			admin is not null and
		</if>
		<choose>
			<when test="searchType == 'id'">
				id like '%'||#{searchWord}||'%' order by id
			</when>
			<when test="searchType == 'period'">
				b_date between #{stDate} and #{ndDate} order by b_date
			</when>
		</choose>
		order by id
	</select>

	<select id="selectProfilesWhere" parameterType="vo.PageVO" resultType="vo.ProfileVO">
		select * from profile where 
		<choose>
			<when test="searchType == 'id'">
				id like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'cont'">
				bio like '%'||#{searchWord}||'%'
			</when>
		</choose>
		order by id
	</select>
	
	<select id="selectPostsWhere" parameterType="vo.PageVO" resultType="vo.PostVO">
		select * from post where
		<choose>
			<when test="searchType == 'id'">
				id like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'cont'">
				cont like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'period'">
				p_date between #{stDate} and #{ndDate}
			</when>
		</choose>
		order by no desc
	</select>
	
	<select id="selectCommsWhere" parameterType="vo.PageVO" resultType="vo.CommVO">
		select * from comm where
		<choose>
			<when test="searchType == 'id'">
				id like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'cont'">
				c_cont like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'period'">
				c_date between #{stDate} and #{ndDate}
			</when>
		</choose>
		order by c_no desc
	</select>


	<select id="selectAllCounts" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from
			<choose>
				<when test="searchLoc == 'admin'">
					member where admin is not null
				</when>
				<otherwise>
					${searchLoc}
				</otherwise>
			</choose>
	</select>
	
	<select id="selectMemberCountWhere" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from member 
		where
			<choose>
				<when test="searchType == 'id'">
					id like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'period'">
					b_date between #{stDate} and #{ndDate}
				</when>
			</choose>
			<if test="searchLoc == 'admin'">
				and admin is not null
			</if>
	</select>
	
	<select id="selectProfileCountWhere" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from profile 
		where
			<choose>
				<when test="searchType == 'id'">
					id like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'cont'">
					bio like '%'||#{searchWord}||'%'
				</when>
			</choose>
	</select>
	
	<select id="selectPostCountWhere" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from post 
		where
			<choose>
				<when test="searchType == 'id'">
					id like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'cont'">
					cont like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'period'">
					p_date between #{stDate} and #{ndDate}
				</when>
			</choose>
	</select>
	
	<select id="selectCommCountWhere" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from comm 
		where
			<choose>
				<when test="searchType == 'id'">
					id like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'cont'">
					c_cont like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'period'">
					c_date between #{stDate} and #{ndDate}
				</when>
			</choose>
	</select>
	<select id="getAllreport_post" resultType="vo.ReportVO">
		select * 
		from report 
		where r_loc = 'POST'
	</select>
	<select id="getAllreport_comm" resultType="vo.ReportVO">
		select * 
		from report 
		where r_loc = 'COMM'
	</select>
	<select id="getAllreport_chat" resultType="vo.ReportVO">
		select * 
		from report 
		where r_loc = 'CHAT'
	</select>
	
	<select id="selectMemberCount" resultType="_int">
		select count(id) 
		from member
	</select>
	
	<select id="selectReportCountWhere" resultType="_int">
		select count(id) 
		from report
		where r_date = to_char(sysdate(), 'yyyy-mm-dd')
	</select>
	
	<select id="selectSysdateBannedCount" resultType="_int">
		select count(id) 
		from ban
		where sysdate() between s_date and f_date
	</select>
	
	<delete id="deleteKeyWordWhere">
		delete from searchWord 
		where keyDate <![CDATA[ < ]]> sysdate()
	</delete>
	

	
	<select id="selectBannedCountWhere" parameterType="vo.PageVO" resultType="_int">
		select count(*) 
		from ban 
		where
			<choose>
				<when test="searchType == 'id'">
					id like '%'||#{searchWord}||'%'
				</when>
				<when test="searchType == 'period'">
					(s_date between #{stDate} and #{ndDate}) or
					(f_date between #{stDate} and #{ndDate})
				</when>
			</choose>
	</select>
	
	<select id="selectBannedWhere" parameterType="vo.PageVO" resultType="vo.BanVO">
		select * from ban where
		<choose>
			<when test="searchType == 'id'">
				id like '%'||#{searchWord}||'%'
			</when>
			<when test="searchType == 'period'">
				(s_date between #{stDate} and #{ndDate}) or
				(f_date between #{stDate} and #{ndDate})
			</when>
		</choose>
		order by s_date desc
	</select>
	
</mapper>